:root {
   --umbc-gold: #fdb515;
   --umbc-black: #000000;
   --bg: #fafafa;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: .2s;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: "Inter", sans-serif;

   background-color: var(--bg);
   color: #000;
}

/* HEADER */
.header {
   padding: 0.3rem;
   background: var(--umbc-gold);
}

.header-inner {
   padding: 1rem 0;
   font-family: "Inter", sans-serif;
   border-radius: .75rem;
   display: grid;
   grid-template-columns: min-content auto;
   background: var(--umbc-black);
   color:#fff;
}

.header img {
   height: 150px;
   width: 150px;
   margin: 0 1rem;
}

.header h1 {
   margin: 0 .4vw;
   font-size: 4.6vw;
   font-weight: 600;
   line-height: 1;
}

.header-title {
   display: flex;
   align-items: center;
}

/* PAGE CONTENTS */
.content {
   flex-grow: 1;
   margin: 4rem auto;
}

h2 {
   padding-bottom: 0.4rem;
   font-size: 2rem;
   text-align: center;
   max-width: 550px;
   margin: 0 auto;
   color: #222;
   border-bottom: 3px solid var(--umbc-gold);
}

.subtext {
   font-size: 1rem;
   margin: .3rem auto;
   text-align: center;
   max-width: 500px;

   color: #555;
}

footer .subtext {
   color: #ccc;
}

/* MIRROR LINKS */
.mirror-list {
   margin-top: 1.5rem;
   display: grid;
   grid-template-columns: auto auto;
   grid-auto-rows: 1fr;
   gap: .5rem 1rem;
}

.distro-item {
   cursor: pointer;
   margin: 0.5rem auto;
   max-width: 650px;
   width: 40vw;
   border-radius: .5rem;
   height: 100%;
   position: relative;
   margin-left: 3rem;
   font-size: 1.1rem;

   background-color: #f5f5f5;
   border: solid .2rem #e5e5e5;
}

.distro-item:hover {
   transform: scale(1.01);

   border-color: var(--umbc-gold);
}

.distro-item:hover .distro-icon {
   border-color: var(--umbc-gold);
}

.distro-item h3 {
   font-size: 1.5rem;
   margin-bottom: .4rem;
   padding: 1rem;
   border-radius: .3rem .3rem 0 0;
   padding-left: 4rem;

   background-color: #e5e5e5;
}

.distro-item p {
   padding: .4rem 1rem;
   padding-left: 4rem;
   line-height: 1.5rem;

   color: #444;
}

.distro-icon {
   position: absolute;
   top: calc(50% - 2.75rem);
   left: -2.75rem;
   width: 5.5rem;
   height: 5.5rem;
   padding: .75rem;
   border-radius: 50%;
   overflow: hidden;

   background-color: #f5f5f5;
   border: solid .2rem #e5e5e5;
}

.distro-icon img {
   width: 100%;
   height: 100%;
}

/* OTHER */
footer {
   text-align: center;
   padding: 1rem 0;
   font-size: 0.9rem;
   border-top: .4rem solid var(--umbc-gold);

   background: var(--umbc-black);
   color: #fff;
}

a {
   color: inherit;
}

a:hover {
   color: var(--umbc-gold);
}

/* =========== */
/* LIGHT THEME */
/* =========== */
@media (prefers-color-scheme: dark) {
   :root {
      --bg: #18181b;
   }

   body {
      color: #fff;
   }

   h2 {
      color: #fff;
   }

   .subtext {
      color: #ccc;
   }

   .mirror-list a {
      border-bottom: 1px solid #eee;
   }

   .distro-item {
      box-shadow: 0 0 .2rem #000;
      background-color: #262626;
      border: solid .2rem #404040;
   }

   .distro-item:hover {
      border-color: var(--umbc-gold);
      box-shadow: 0 0 .5rem #000;
   }

   .distro-item:hover .distro-icon {
      border-color: var(--umbc-gold);
   }

   .distro-item h3 {
      background-color: #171717;
   }

   .distro-item p {
      color: #ddd;
   }

   .distro-icon {
      background-color: var(--umbc-black);
      border: solid .2rem #404040;
   }

   footer {
      background: var(--umbc-black);
      color: white;
   }
}

/* ============== */
/* MOBILE SUPPORT */
/* ============== */
@media screen and (max-width: 760px) {
   .mirror-list {
      grid-template-columns: auto;
   }

   .distro-item {
      width: 90vw;
   }
}